
{% extends 'base2.html'%}

{% block content %}
{% load static %}
    <!--banner-->
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/corporate.jpg'%}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <a href="/pricingx" class="btn btn-danger">Start Project</a>
                    <h3 style="color: rgb(120, 34, 22)">Get Your Project Started Now</h3>
                </div>
            </div>
        </div>
    </div>

    <hr> <br>
    <!--Details-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 style="font-weight: 800;color: rgb(79, 80, 82);">CORPORATE VIDEO EDITING SERVICE</h1>
            </div>
        </div>
        <div class="row">
            <div class="offset-sm-2 col-sm-8 offset-sm-2">
                <p>
                    If you care about your brand, buying a professional corporate video editing service is one of the
                    best things you can do for your company. Regardless if you are representing a start-up, a small
                    family-owned business or a larger company, we can make you look good. The videos you put out are
                    your business card. A nicely crafted video can help you attract more clients, it can empower your
                    brand or it can re-confirm your status. We have over many years of corporate video editing behind
                    our belt and we never settle with OK-ish results. We strive to always exceed expectations and always
                    get a 5-star feedback from our clients. All our corporate video editing services are put together by
                    hand-picked video editors. Each person in our video editing team has a solid background in editing a
                    wide range of corporate videos such as: Real Estate, Promo Videos, Facebook Ads, Webinars,
                    Conferences and Seminars, Training Videos, Product Demos, Instructional Videos and many more. All
                    you need to do is send us the footage and a brief of the requirements. Tell us what is the message
                    you want to communicate to your audience and we'll do the rest. To start the project you only need
                    to pay a 30% deposit. The average turnaround time for the our corporate video editing service is 5
                    working days. Once the edit is ready we will send it over to you and allow up to 3 free revisions.
                    Just in case you want us to make adjustments. You can request any changes you want, there will be no
                    additional fees charged. When you are 100% satisfied with the finished video and pay the full amount
                    we will deliver your video. Send us your footage now and we will make you look good.
                </p>
            </div>
        </div>
    </div> <br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-2 text-center">
                <i class="fa fa-question-circle fa-4x" aria-hidden="true" style="font-weight: 600;color:#0fc598;"></i>
            </div>
            <div class="col-sm-8 col-8">
                <h2 style="font-weight: 600;color:#920959;">HERE'S WHAT WE CAN DO</h2>
                <p>
                    We are just as creative as little kids when it comes to corporate video editing. We just love taking
                    footage that sometime might be dull and boring (no disrespect) and turn it into an engaging and fun
                    clip. Often, the corporate video editing services we offer falls into one of the categories below.
                    But we are always open to new challenges.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-8">
                <h2 style="font-weight: 600;color:#920959;  float: right;" class="text-right">REAL ESTATE</h2> <br> <br>
                <p>
                    We can take any footage and create a professional looking clip to showcase your property. It can be
                    an aerial drone shot; it can be a Google Earth fly-over or even an iPhone shot video. By applying
                    state of the art video post-production techniques we can make your property stand out
                </p>
            </div>
            <div class="col-sm-2 col-2 text-center">
                <i class="fa fa-home fa-4x" aria-hidden="true" style="font-weight: 600;color:#0f73c5;"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-2 text-center">
                <i class="fa fa-handshake-o fa-4x" aria-hidden="true" style="font-weight: 600;color:#c2ff1c;"></i>
            </div>
            <div class="col-sm-8 col-8">
                <h2 style="font-weight: 600;color:#920959;">INTERVIEWS & SHOWS</h2>
                <p>
                    Need your interview or show cut? We will cut off any babbling, add cool looking text overlays and
                    deliver back a CNN-like interview video. We will have the names pop-up on the screen, plus any
                    messages you want to add and we can add a nice audio background. You name it and we’ll do it.
                </p>
            </div>
        </div>
    </div> <br>
    <div class="container-fluid stick_banner">
        <div class="row my-auto">
            <div class="col-sm-12 text-center">
                <h1>Lets Start Project</h1>
                <a href="/pricingx" class="btn btn-danger">Get Started</a>
            </div>
        </div>
    </div>
    <!--High services-->
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-sm-2 col-2 text-center">
                <img src="{% static 'images/icons/editor.png'%}" class="img-fluid" alt="">
            </div>
            <div class="col-sm-8 col-8">
                <h2 style="font-weight: 600;color:#920959;">SCREEN CAST</h2>
                <p>
                    We can make the plain old and boring screen casts into high end looking videos. By adding the right
                    text overlays and animations your viewers will be more likely to enjoy your webinar replays or the
                    FAQ videos.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-8">
                <h2 style="font-weight: 600;color:#920959;  float: right;" class="text-right">MUSIC VIDEOS</h2> <br>
                <br>
                <p>
                    Putting the right footage on top of your latest hit is one of our favorite types of projects. No
                    matter if you are a bedroom music producer or a well-known band we can make your music video highly
                    addictive for your fans.
                </p>
            </div>
            <div class="col-sm-2 col-2 text-center">
                <img src="{% static 'images/icons/tv.png'%}" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-2 text-center">
                <img src="{% static 'images/icons/board.png'%}" class="img-fluid" alt="">
            </div>
            <div class="col-sm-8 col-8">
                <h2 style="font-weight: 600;color:#920959;">WHITEBOARD VIDEOS</h2>
                <p>
                    Getting your audience to stick with your throughout the duration of a whiteboard video can be a
                    challenging task. By using our corporate video editing service you will have access to talented
                    editors which will boost your audience retention and increase your sales or conversions.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-8">
                <h2 style="font-weight: 600;color:#920959;  float: right;" class="text-right">EXPLAINER VIDEOS</h2> <br> <br>
                <p>
                    We have a team of experts who know how to use animation and motion graphics elements so that any complex concept becomes very easy to understand for the average viewer. Getting your message through the screen has never been easier by using our corporate video editing service for your explainer videos.
                </p>
            </div>
            <div class="col-sm-2 col-2 text-center">
                <img src="{% static 'images/icons/conversation.png'%}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    </div>
    <br><br><br>
    <!--Footer-->
    <div class="container-fluid footer text-center">
        <div class="row">
            <div class="col-sm-4">
                <h1>Quick Links</h1>
                <a href="">Home</a> <br>
                <a href="">Pricing</a> <br>
                <a href="">About Us</a> <br>
                <a href="">Contact Us</a> <br>
            </div>
            <div class="col-sm-4">
                <h4>Follow Us:</h4>
                <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-sm-4">
                <h4>Contact Us</h4>
                <i class="fa fa-envelope fa-1x" aria-hidden="true">
                    <font>info@veedyou.com</font>
                </i> <br />
                <i class="fa fa-phone-square fa-1x" aria-hidden="true">
                    <font>+92 300 111 222 333</font>
                </i> <br />
                <i class="fa fa-phone-square fa-1x" aria-hidden="true">
                    <font>+92 300 111 222 333</font>
                </i> <br />
            </div>
        </div> <br><br><br><br> <br>
        <div class="row text-center">
            <div class="col-sm-12">
                <h6><i class="fa fa-copyright" aria-hidden="true"></i>Copyright 2021 </h6>
            </div>
        </div>
    </div>


{% endblock %}