{% extends 'base2.html'%}

{% block content %}

<div class="container p-5 mt-5">
    <div class="row">
        <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link  btn btn-primary text-white m-3" href="/pricingx/">Vedio Editing</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link active btn btn-primary text-white m-3" href="/postproduction/">Post Production</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-primary text-white m-3" href="/support/">Custom order</a>
  </li>

</ul>
    </div>
</div>
{% endblock %}